﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="9" MadCap:lastHeight="859" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Modifying the Group Variables (all)&#160;File</h1>
        <p style="text-align: left;">Before installing <MadCap:variable name="S3 Connector Variables.ComponentName" /> and components, it is necessary to modify the <span class="ProprietaryFileName">group /group_vars/all</span> file, located in the <cite>/env/{{targetEnvironmentName}}/group_vars/</cite> directory. </p>
        <p style="text-align: left;">The <span class="ProprietaryFileName">/group_vars/all</span> file sets a  list of Docker registry entries that determines which images to pull from the Docker Hub repository. It can also set S3 service endpoints, <span class="ProprietaryNonConventional">sproxyd</span> bootstrap nodes, and logger ports and parameter settings. Ansible calls the <em>/group_vars/all</em> file based on the servers listed under corresponding <span class="FileName">inventory</span> file group sections. </p>
        <p class="Note" style="text-align: left;">Replace all <span class="ElementName">example.com </span>names in the <span class="ProprietaryFileName">/group_vars/all</span> file with the mapped DNS&#160;names or IP addresses of the servers in the target environment. Additional lines can be uncommented and set appropriately for optional environment functionality.</p>
        <p class="Note" style="text-align: left;">If the<span class="ElementName"> env_host_data</span> and/or <span class="ElementName">env_host_logs</span> are on an external disk drive, that drive must be mounted using fstab.</p>
        <h2 MadCap:autonum="1.1 &#160;">Configuration of Multidisk Support</h2>
        <p style="text-align: left;">The <span class="ProprietaryFileName">/group_vars/all</span> file handles a large number of essential <MadCap:variable name="S3 Connector Variables.ComponentName" /> settings and, with the exception of <span class="Code_Terminal">env_host_data</span>, <span class="Code_Terminal">env_host_logs</span>, <span class="Code_Terminal">env_s3</span>, and <span class="Code_Terminal">location_constraints</span>, these settings should usually persist in their default state.</p>
        <p class="Alert">Because empty lines and character spacing are critical to the functioning of yaml files, be careful not to change non-variable aspects of the <span class="ProprietaryFileName">/group_vars/all</span> file.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">env_host_data</h3>
        <p class="Note">Starting with version 7.2, <span class="ElementName">env_host_data</span> is no longer used to specify the storage
mountpoint for S3's bucket storage (Metadata), and <span class="ElementName">env_metadata_datapaths</span>
must be defined.</p>
        <p style="text-align: left;">Modify the <em>env_host_data</em> value to indicate a local directory on which <MadCap:variable name="S3 Connector Variables.ComponentName" /> nodes will store metadata (ideally, an SSD). </p><pre xml:space="preserve">env_host_data: /opt/scality/s3/data</pre>
        <p class="Note" style="text-align: left;">The RING&#160;stores data on disks at <i>/scalty/ssd/</i><span class="Variable" style="font-style: italic;">n</span>. By default, the <span class="ElementName">env_host_data_value</span> indicated in the <span class="ProprietaryFileName">/group_vars/all</span> file  is not the same disc on which RING&#160;data is stored. </p>
        <h3 MadCap:autonum="1.1.2 &#160;"><a name="env_meta"></a>env_metadata_bucket_datapaths</h3>
        <p>Modify the <span class="ElementName">env_metadata_bucket_datapaths</span> to provide the list of mountpoints (each one should match a different disk, ideally SSDs) for the database storage of the bucket storage (S3 metadata).</p><pre xml:space="preserve">env_metadata_bucket_datapaths:
 - /srv/scality/s3/disk1
 - /srv/scality/s3/disk2
 - /srv/scality/s3/disk3</pre>
        <p>The mountpoint configured in <span class="ElementName">env_host_data</span> may be included in this list, but it would mean that its storage space would be shared with the bucket metadata storage.</p>
        <p class="Note">Refer to <MadCap:xref href="../6_Upgrades/Upgrading.htm">"Upgrading" on page 1</MadCap:xref> for more information about configuring the mountpoints for metadata relatively to upgrading to 7.2 and later from an earlier version.</p>
        <div style="page-break-inside: avoid;">
            <h3 MadCap:autonum="1.1.3 &#160;">env_host_logs</h3>
            <p style="text-align: left;">Edit the <span class="ElementName">env_host_logs</span> value to indicate the location of <MadCap:variable name="S3 Connector Variables.ComponentName" /> log files on the host.</p><pre xml:space="preserve">env_host_logs: /var/log/s3</pre>
        </div>
        <div MadCap:conditions="PrintGuides.Zenko">
            <h3 MadCap:autonum="1.1.4 &#160;">env_s3</h3>
            <p style="text-align: left;">Change the env_s3 value to define the <MadCap:variable name="S3 Connector Variables.ComponentName" /> API endpoint. </p>
            <p class="Alert" MadCap:conditions="PrintGuides.Zenko">Warning: As of release 7.0 the format has changed. </p>
            <p style="text-align: left;">The <MadCap:variable name="S3 Connector Variables.ComponentName" /> supports multiple data backend locations, which are not contained in the AWS specification. </p>
            <p style="text-align: left;">To set up the configuration, a <span class="ElementName">rest_endpoints</span> section must specify each endpoint as a key and the default location for that endpoint as a value.</p><pre xml:space="preserve">env_s3:
    rest_endpoints:
      s3.example.com : us-east-1
      127.0.0.2: us-east-1
      localhost: legacy
      node1.amazonaws.com : us-east-1
</pre>
            <p style="text-align: left;">Regarding the endpoint itself ( as exemplified above by  <span class="ElementName">s3.example.com</span>), the hostname must resolve to the S3 API endpoint (which usually resolves to the load balancer in front of all  endpoints). The DNS entry of the hostname must be a wildcard entry to resolve bucket names (e.g., <span class="ElementName">bucketname.s3.example.com</span>).</p>
            <p style="text-align: left;">Regarding the default location ( as explified above by <span class="ElementName">us-east-1</span>), this is the default location to put data for requests to the given endpoint, unless a given bucket has a location or an object is put with an <span class="ElementName">x-amz-meta-scal-location-constraint</span> header.  </p>
            <p style="text-align: left;page-break-after: avoid;">Thus, as illustrated in the example, if a user hits <span class="ElementName">s3.example.com</span>, the default location to put data would be treated as <em>us-east-1</em>. As such, the location<span class="ElementName"> us-east-1</span> must map to a location contained in the list of <span class="ElementName">location_constraints</span>. </p>
        </div>
        <div MadCap:conditions="PrintGuides.Zenko">
            <h3 MadCap:autonum="1.1.5 &#160;"><a name="location_constraints"></a>location_constraints</h3>
            <p>Multiple <span class="ElementName">location_constraints</span> can exist, the key for each of which is its name, which can be chosen by the user. In the <span class="ProprietaryFileName">/group_vars/al</span>l file, each location_constraint must have a type, legacy_aws_behavior, and either details or connector. Available types include <span class="ProperNameBold">scality</span>, which corresponds to a Scality RING, <span class="ProperNameBold">aws_s3</span>, which corresponds to an AWS S3 bucket, and <span class="ProperNameBold">azure</span>, which corresponds to a Microsoft Azure Blob Storage container.</p>
            <p>The <span class="ElementName">legacy_aws_behavior</span> key indicates whether the user wants requests hitting this endpoint to have legacy AWS behavior (true/false).</p>
            <p>If the location constraint type is ‘scality’, the connector key contains sproxyd, and under sproxyd, the config options for sproxyd, including the port and any other sproxyd configuration options. If the location constraint type is either cloud provider, the details key will contain the necessary information for that account.</p>
            <MadCap:snippetBlock src="../Resources/Snippets/cut_paste_pdf_constraint.flsnp" /><pre xml:space="preserve">location_constraints:
  legacy:
    type: scality
    legacy_aws_behavior: no
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4243
          - node2.example.com:4243
          - node3.example.com:4243
          - node4.example.com:4243
          - node5.example.com:4243
          - node6.example.com:4243
  us-east-1:
    type: scality
    legacy_aws_behavior: yes
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4244
          - node2.example.com:4244
          - node3.example.com:4244
          - node4.example.com:4244
          - node5.example.com:4244
          - node6.example.com:4244 <MadCap:conditionalText MadCap:conditions="PrintGuides.Zenko">
  awsbackend: 
    type: aws_s3 
    legacy_aws_behavior: yes 
    details: 
      aws_endpoint: s3.amazonaws.com 
      bucket_name: {{bucketWithVersioningEnabled}}
      bucket_match: true 
      server_side_encryption: true 
      credentials:
	 access_key: {{awsAccessKey}}
	 secret_key: {{awsSecretKey}}
  azurebackend: 
    type: azure 
    legacy_aws_behavior: yes 
    details: 
      azure_blob_endpoint:{{containerEndpoint}} 
      azure_storage_account_name: {{accountName}} 
      azure_storage_access_key: {{awsAccessKey}}
      bucket_match: true 
      azure_container_name: {{containerName}}  </MadCap:conditionalText></pre>
            <p class="Alert" style="text-align: left;">
                <MadCap:conditionalText MadCap:conditions="PrintGuides.S3">Warning: To upgrade to <MadCap:variable name="S3 Connector Variables.ComponentName" /> 7.2 a <i>location_constraint</i> called <i>legacy</i> must exist, stating the pre-existing sproxyd information (otherwise, data will not be retrievable). A location constraint named <i>us-east-1</i> MUST be included. This will be the default location assigned to a bucket when no location is explicitly provided on a PUT Bucket request and the endpoint used if the request endpoint is not contained in the <i>rest_endpoints</i> configuration.</MadCap:conditionalText>
            </p>
        </div>
        <div>
            <h3 MadCap:autonum="1.1.6 &#160;">sproxyd</h3>
            <p style="text-align: left;">The sproxyd Connector installed by Ansible does not use the <em>sagentd</em> component to connect to the <MadCap:variable name="General.ProductName" /> Supervisor.</p>
            <p class="Note" style="text-align: left;" MadCap:conditions="PrintGuides.Zenko">Multiple <em>sproxyd</em> configurations are possible for each location. It is also possible for multiple locations to point to the same sproxyd configuration.</p>
            <h4 MadCap:conditions="PrintGuides.Zenko">Bootstrap List for sproxyd</h4>
            <p style="page-break-after: avoid;text-align: left;" MadCap:conditions="PrintGuides.Zenko">Enter the hostnames for the RING nodes that the <MadCap:variable name="S3 Connector Variables.ComponentName" /> will use to connect to the RING. The available servers can be found on the supervisor, on the operation tab under Chord Address. </p>
            <p class="Note" MadCap:conditions="PrintGuides.Zenko">Scality advises uses a mix of different servers and ports.</p><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko">bootstrap_list:
  - node1.example.com:4244
  - node1.example.com:4245
  - node2.example.com:4244
  - node2.example.com:4245
  - node3.example.com:4244
  - node3.example.com:4245
  - node4.example.com:4244
  - node4.example.com:4245
  - node5.example.com:4244
  - node5.example.com:4245</pre>
            <h4>Configuration Options</h4>
            <p style="text-align: left;">The following are supported <i>sproxyd</i> configuration options. For each <i>location_constraint</i>, any of these  options may be specified by adding the information under the <i>sproxyd</i> heading.</p>
            <table style="width: 100%; mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css'); margin-left: auto; margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
                <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 198px;" />
                <col class="TableStyle-DetailedwithPadding-Column-Column1" />
                <thead>
                    <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                        <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Configuration Option</th>
                        <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">chord_cos</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Enabling this option will make sproxydclient go through the chord driver rather than the arc driver <em>chord_cos: 2</em>.</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">lazy_get_enabled</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Option should be enabled only for a geo-stretched RING with significant inter-site latency; affects only the replication (chord) driver in sproxyd. Set <em>lazy_get_enabled</em> to 0 to get the <em>fast_mode</em>. The default value is 1 (no fast get) <em>lazy_get_enabled</em>: <em>true</em>. For more information refer to the Scality RING Reference Manual (v7.3.0).</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">data_parts:</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Maximum number of ARC data chunks (k)</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">coding_parts:</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Number of ARC coding chunks (m)</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">erasure_cos:</td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Controls the number of copies for data that is too small (&lt; 60 KB) to be stored in erasure coding (i.e. in ARC).</td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">min_redundant_parts_put_ok: -1</td>
                        <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Controls the number of coding keys that sproxyd should have written before returning OK to S3 on a PUT operation. The default -1 means that all coding should have been written before returning a 200 OK. The safest value is-1. There should be no need to change the value except in a multi-site environment or other specific environment.</td>
                    </tr>
                </tbody>
            </table>
            <p class="Note" style="text-align: left;">Defining <em>chord_cos</em> causes S3 traffic to be stored in replication (chord) via <em>&lt;chord_cos&gt;</em> copy (plus one of the original data copies). The metadata backup will still be stored via erasure coding.</p>
            <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.1.7 &#160;">AWS S3</h3>
            <p MadCap:conditions="PrintGuides.Zenko">Using AWS S3 as a data storage backend for <MadCap:variable name="S3 Connector Variables.ComponentName" /> links a bucket on an AWS S3 account to a <MadCap:variable name="S3 Connector Variables.ComponentName" /> location constraint. This can be either a preexisting or new bucket.</p>
            <p class="Note" MadCap:conditions="PrintGuides.Zenko">Versioning must be enabled on the AWS S3 bucket before <MadCap:variable name="S3 Connector Variables.ComponentName" /> is started, and if using a preexisting bucket, any data stored there before using <MadCap:variable name="S3 Connector Variables.ComponentName" /> will be inaccessible from <MadCap:variable name="S3 Connector Variables.ComponentName" />.</p>
            <p MadCap:conditions="PrintGuides.Zenko">In the <i>location_constraint</i> of type <b>aws_s3</b>, below the details key, there must be an <i>aws_endpoint</i>, <i>bucket_name</i>, and <i>bucket_match</i>.</p>
            <p MadCap:conditions="PrintGuides.Zenko"><i>aws_endpoint</i> points to the endpoint of the region in which the AWS S3 bucket to link to <MadCap:variable name="S3 Connector Variables.ComponentName" /> exists. The name of the<i><![CDATA[  ]]></i>bucket to link is<i> bucket_name</i>. Remember to enable versioning on it.</p>
            <p MadCap:conditions="PrintGuides.Zenko">If <i>bucket_match</i> is set to <span class="ProperNameBold">true</span>, that will create key parity between <MadCap:variable name="S3 Connector Variables.ComponentName" /> and AWS S3. This means that an object accessed from either the <MadCap:variable name="S3 Connector Variables.ComponentName" /> or the AWS S3 side will have the same key. If <i>bucket_match</i> is set to ‘false’, objects accessed from AWS S3 will have keys of the format ‘<i>[S3_Connector_bucket_name</i>]/[<i>object_key_name</i>]’. With this method, multiple <MadCap:variable name="S3 Connector Variables.ComponentName" /> buckets can be associated with one AWS S3 bucket without any confusion from the AWS S3 side.</p>
            <p MadCap:conditions="PrintGuides.Zenko">The <span class="Code_Terminal">server_side_encryption</span> key is optional. If it is included and set to <b>true</b>, objects will be encrypted on AWS S3.</p>
            <p class="Note" MadCap:conditions="PrintGuides.Zenko">If the <span class="Code_Terminal">server_side_encryption</span> option is enabled, it is possible for an object to be encrypted twice, if it is put to an <MadCap:variable name="S3 Connector Variables.ComponentName" /> bucket that also has encryption enabled.</p>
            <p MadCap:conditions="PrintGuides.Zenko">Two options exist for including the necessary AWS S3 credentials. The first is shown above, as the<span class="Code_Terminal"> credentials_profile</span> key, should be the name of the necessary profile found in the <span class="ProprietaryFileName">~/.aws/credentials</span> file.</p>
            <p MadCap:conditions="PrintGuides.Zenko" style="page-break-after: avoid;">The second option is to include the credentials directly in <MadCap:variable name="S3 Connector Variables.ComponentName" />.</p><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko" style="page-break-inside: avoid;">aws-backend: 	
   type: aws_s3 
   legacy_aws_behavior: true 
   details: 
      credentials: 
          access_key: {{accessKey}} 
          secret_key: {{secretKey}} </pre>
            <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.1.8 &#160;">Microsoft Azure Blob Storage</h3>
            <p MadCap:conditions="PrintGuides.Zenko">Using Microsoft Azure Blob Storage (referred to as Azure) as a data storage backend for <MadCap:variable name="S3 Connector Variables.ComponentName" /> links an Azure storage account to an <MadCap:variable name="S3 Connector Variables.ComponentName" /> location constraint. </p>
            <p MadCap:conditions="PrintGuides.Zenko">For a location_constraint of type <b>azure</b>, details must contain <i>azure_blob_endpoint, azure_blob_sas, bucket_match, and azure_container_name. bucket_match</i> operates the same here as it does for AWS S3. <i>azure_container_name</i> refers to the name of the Azure container to link to <MadCap:variable name="S3 Connector Variables.ComponentName" />. This will either be a preexisting container, or a container with this name will be created on a PUT operation to the Azure backend.</p>
            <p MadCap:conditions="PrintGuides.Zenko">The <i>azure_blob_endpoint</i> refers to the Primary Blob Service Endpoint, which can be found under the <span class="ProperNameBold">Properties</span> section in the Azure Portal. The <i>azure_storage_account_name</i> refers to the name of the Azure storage account, and <i>azure_storage_access_key</i> refers to the access key of the storage account.</p>
            <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.2 &#160;">Optional Configuration</h2>
            <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.2.1 &#160;">Versioning on AWS Backend Considerations</h3>
            <p MadCap:conditions="PrintGuides.Zenko">To ensure integrity of data, versioning must be enabled on the AWS bucket that serves as a data backend location for <MadCap:variable name="S3 Connector Variables.ComponentName" />. However, there are some exceptions to this involving interaction between <MadCap:variable name="S3 Connector Variables.ComponentName" /> and versioning on AWS S3.</p>
            <ul>
                <li MadCap:conditions="PrintGuides.Zenko"> In the case of concurrent PUT or DELETE requests, it cannot be guaranteed that the order of versions on <MadCap:variable name="S3 Connector Variables.ComponentName" /> will match the order of versions on the AWS backend.</li>
                <li MadCap:conditions="PrintGuides.Zenko">If an object is put to the AWS backend when the bucket versioning state on <MadCap:variable name="S3 Connector Variables.ComponentName" /> is not “Enabled”, and the null version on <MadCap:variable name="S3 Connector Variables.ComponentName" /> is subsequently overwritten, the corresponding version remains on the AWS backend. Therefore,</li>
            </ul>
            <p MadCap:conditions="PrintGuides.Zenko">It cannot be guaranteed that the latest version on <MadCap:variable name="S3 Connector Variables.ComponentName" /> will always match the latest version on AWS. If:</p>
            <ol>
                <li MadCap:conditions="PrintGuides.Zenko">Versioning is not enabled on <MadCap:variable name="S3 Connector Variables.ComponentName" /> and an object is put.</li>
                <li MadCap:conditions="PrintGuides.Zenko">Then the same object key is put again on <MadCap:variable name="S3 Connector Variables.ComponentName" />.</li>
                <li MadCap:conditions="PrintGuides.Zenko">Then versioning is enabled and a user deletes the "null" version.</li>
                <li MadCap:conditions="PrintGuides.Zenko"> Then on <MadCap:variable name="S3 Connector Variables.ComponentName" />, there will be no such object but on AWS S3 the first version will appear as the latest version of the object (will not appear deleted).</li>
            </ol>
            <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.3 &#160;">Limitations for Multipart Upload on Azure Backend</h2>
            <p MadCap:conditions="PrintGuides.Zenko"> If there is a multipart upload in-progress, a key with the same name cannot be put or deleted before the multipart upload is completed.</p>
            <p MadCap:conditions="PrintGuides.Zenko">Due to limitations in the max size and number of blocks (equivalent of parts) allowed on Azure for a multipart upload, the maximum quantity of 5 GB parts allowed for upload is 1000. This is the same total size as the documented limit for the size of a multipart upload on AWS, which is 5 TB.</p>
            <p MadCap:conditions="PrintGuides.Zenko">Any attempt to put more than 1000 max-sized parts or otherwise exceed the total number of blocks allowed on Azure will meet with an Internal Error that includes a customized error description from <MadCap:variable name="S3 Connector Variables.ComponentName" /> when attempting to complete the multi-part upload.</p>
            <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.4 &#160;">Server Side Copy Using AWS and Azure</h2>
            <p MadCap:conditions="PrintGuides.Zenko"><MadCap:variable name="S3 Connector Variables.ComponentName" /> takes advantage of server side copy on the AWS/Azure data backends if certain conditions are satisfied.</p>
            <p MadCap:conditions="PrintGuides.Zenko">For Azure, we use Azure's server side copy if:</p>
            <ul>
                <li MadCap:conditions="PrintGuides.Zenko">The source object and destination object are both on Azure within the same storage account (copy between storage accounts is async on Azure).</li>
                <li MadCap:conditions="PrintGuides.Zenko">The source bucket is not an encrypted bucket and the destination bucket is not an encrypted bucket (unless the copy is all within the same <MadCap:variable name="S3 Connector Variables.ComponentName" /> bucket).</li>
            </ul>
            <p MadCap:conditions="PrintGuides.Zenko">For AWS, we use AWS's server side copy if:</p>
            <ul>
                <li MadCap:conditions="PrintGuides.Zenko">The source object and destination object are both on AWS.</li>
                <li MadCap:conditions="PrintGuides.Zenko">The source bucket is not an encrypted bucket and the destination bucket is not an encrypted bucket (unless the copy is all within the same <MadCap:variable name="S3 Connector Variables.ComponentName" /> bucket).</li>
            </ul>
            <h2 MadCap:autonum="1.5 &#160;"><a name="Enabling"></a>Enabling Cross-Region Replication (CRR) Between Two Sites</h2>
            <p class="Alert">Cross-Region Replication (CRR) is not supported in mutli-site stretched deployments and must therefore be deactivated.</p>
            <p>To deactivate Cross-Region Replication, in <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the <span class="Code_Terminal">env_enable_backbeat</span> variable at the source site.</p><pre xml:space="preserve">env_enable_backbeat: no</pre>
            <p>In the <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the <span class="Code_Terminal">env_backbeat_replication_port</span> variable at the target site.</p><pre>env_backbeat_replication_port: 9080</pre>
            <p>In the <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the <span class="Code_Terminal">env_replication_endpoints</span> variable at the source site.</p><pre xml:space="preserve" style="page-break-inside: avoid;">env_replication_endpoints:
 - site: paris
   servers:
     - {{ipAddress1}}:9080
     - {{ipAddress2}}:9080
     - {{ipAddress3}}:9080
     - {{ipAddress4}}:9080
     - {{ipAddress5}}:9080</pre>
            <p class="Note"> Port 9080 is the value of <span class="Code_Terminal">env_backbeat_replication_port</span> (default 9080), defined at the target site.</p>
            <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.6 &#160;">Enabling Cross Region Replication (CRR) to AWS S3</h2>
            <p MadCap:conditions="PrintGuides.Zenko">In <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the <span class="Code_Terminal">env_replication_endpoints</span> variable at the source site.</p><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko">env_replication_endpoints:
 - site: awsbackend
   type: aws_s3</pre>
            <p MadCap:conditions="PrintGuides.Zenko" class="Note"><span class="Code_Terminal">awsbackend</span> should be defined as a location constraint (refer to <MadCap:xref href="#location_constraints">"location_constraints" on page&#160;1).</MadCap:xref></p>
            <h2 MadCap:autonum="1.7 &#160;"><a name="Enable"></a>Enable Filtered Logs for Ring or other Elasticsearch Server</h2>
            <p>By default all logs (unfiltered) are fowarded to the <MadCap:variable name="S3 Connector Variables.ComponentName" /> Elasticsearch. Filtered logs can also be forwarded to a different Elasticsearch server. </p>
            <table style="width: 100%;margin-left: auto;margin-right: auto;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
                <col class="TableStyle-DetailedwithPadding-Column-Column1" />
                <col class="TableStyle-DetailedwithPadding-Column-Column1" />
                <thead>
                    <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                        <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
                            <p class="InTableFormatted">Component</p>
                        </th>
                        <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
                            <p class="InTableFormatted">Filtered Logs</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                            <p class="InTableFormatted">S3</p>
                        </td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                            <ul style="font-size: 9pt;">
                                <li style="font-size: 9pt;">elapsed_ms</li>
                                <li style="font-size: 9pt;">httpMethod</li>
                                <li style="font-size: 9pt;">httpCode</li>
                                <li style="font-size: 9pt;">contentLength</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                            <p class="InTableFormatted">sproxyd</p>
                        </td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                            <ul>
                                <li style="font-size: 9pt;">elapsed_ms</li>
                                <li style="font-size: 9pt;">httpMethod</li>
                                <li style="font-size: 9pt;">httpCode</li>
                                <li style="font-size: 9pt;">bytesSent</li>
                                <li style="font-size: 9pt;">bytesReceived</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                            <p class="InTableFormatted">Nginx-sproxyd</p>
                        </td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                            <ul>
                                <li style="font-size: 9pt;">sentContentLength (used for GETs)</li>
                                <li style="font-size: 9pt;">ContentLength (used for PUTs)</li>
                                <li style="font-size: 9pt;">httpMethod</li>
                                <li style="font-size: 9pt;">elapsed_ms</li>
                                <li style="font-size: 9pt;">httpCode</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                            <p class="InTableFormatted">Bucketd</p>
                        </td>
                        <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                            <ul>
                                <li style="font-size: 9pt;">httpMethod</li>
                                <li style="font-size: 9pt;">elapsed_ms</li>
                                <li style="font-size: 9pt;">httpCode</li>
                                <li style="font-size: 9pt;">Metadata-bucketd:</li>
                                <li style="font-size: 9pt;">elapsed_ms</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                        <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                            <p class="InTableFormatted">Vault</p>
                        </td>
                        <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                            <ul>
                                <li style="font-size: 9pt;">httpMethod</li>
                                <li style="font-size: 9pt;">elapsed_ms</li>
                                <li style="font-size: 9pt;">httpCode</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>To enable fowarding, in the <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the variables for the target site by uncommenting and modifying lines as needed.</p><pre xml:space="preserve"># env_elasticsearch:
#   user: elastic
#   password: changeme
#   cacert: es-chain-ca.crt
#   ssl: yes
#   endpoints:
#     - "elasticsearch-host-1:9200"
#     - "elasticsearch-host-2:9200"
#     - "elasticsearch-host-3:9200"
#     - "elasticsearch-host-4:9200"
#     - "elasticsearch-host-5:9200"</pre>
            <p class="Note">Depending on the environment where Elasticsearch is installed, it may not be necessary to specify <span class="ProperNameBold">user</span>, <span class="ProperNameBold">password</span>, <span class="ProperNameBold">cacert</span>, or <span class="ProperNameBold">ssl</span>.</p>
            <p>The following example is for an Elasticsearch server that does not require authentication:</p><pre xml:space="preserve">env_elasticsearch:
#   user: elastic
#   password: changeme
#   cacert: es-chain-ca.crt
#   ssl: yes
  endpoints:
    - "elasticsearch-host-1:9200"
#     - "elasticsearch-host-2:9200"
#     - "elasticsearch-host-3:9200"
#     - "elasticsearch-host-4:9200"
#     - "elasticsearch-host-5:9200"</pre>
        </div>
    </body>
</html>