﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="867" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <p MadCap:conditions="PrintGuides.Zenko" class="ChapterNumber">8</p>
        <p MadCap:conditions="PrintGuides.S3" class="ChapterNumber">9</p>
        <h1 MadCap:autonum="1. &#160;">Upgrading</h1>
        <p style="text-align: left;">The <MadCap:variable name="S3 Connector Variables.ComponentName" /> software version can be upgraded using the same Federation playbooks used for the initial deployment of <MadCap:variable name="S3 Connector Variables.ComponentName" />. As described in <a href="../03_Setting_Up_Deployment_Machine/Modifying the Inventory File Template.htm#top">Modifying the Inventory Files</a>, Federation uses the Inventory file as the basis for deploying the <MadCap:variable name="S3 Connector Variables.ComponentName" /> containers to the specified target machines in the environment. The same mechanism is used to upgrade <MadCap:variable name="S3 Connector Variables.ComponentName" /> to newer versions (described herein).</p>
        <p class="DramaBox">
            <p>Upgrading from 6.4.x to 7.x will incur service downtime.

</p>
            <p>After upgrading to release 7.0, it is not possible to roll back to release 6.4.

</p>
            <p>The machines used for migration to a new version must remain the same as they were when inventory was created. Do not change machine names just before upgrading to a new version. </p>
            <p>

If previous jinja versions are installed on the system, the 2.9.6 install could fail or not be in the default path. Check the jinja version on all machines before upgrading. </p>
        </p>
        <h2 MadCap:autonum="1.1 &#160;">Important changes in release 7.0 and later</h2>
        <h3 MadCap:autonum="1.1.1 &#160;"><a name="New"></a>New Mountpoint Specification for S3 Bucket Storage (Metadata)</h3>
        <p>In versions prior to 7.2 bucket storage location was configured through the variable <code>env_host_data</code>. Starting with version 7.2 the bucket storage layer supports multiple disks, specified in the <code>{{ env_path }}/group_vars/all</code> file as a list of mountpoints (refer to <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Modifying the Group Variables Template.htm#env_meta">"env_metadata_bucket_datapaths" on page 1).</MadCap:xref></p>
        <p>In order to upgrade to 7.2 and later, the first element of the list of mountpoints must be located on the same device as the former storage location <code>(env_host_data).</code> This constraint is checked by the installer, and ensures that the reorganization of the directories has low overhead and won't generate a service interruption. Refer to <a href="#Release_7.2+_Installer_modifications">Release_7.2+_Installer_modifications</a> for details on reorganization.</p>
        <p class="Alert"> Upgrades to version 7.X cannot be rolled back, as bucket operations are not backward-compatible. </p>
        <h3 MadCap:autonum="1.1.2 &#160;">Docker Version Update</h3>
        <p style="text-align: left;">Starting in the <MadCap:variable name="S3 Connector Variables.ComponentName" /> major release 7 and including minor releases 7.x, the system uses a new version of Docker (1.13) that supports online upgrades of the Docker environment itself. This upgrade is managed automatically by the Federation process. However, given that the previous Docker version does not support online upgrades, this will increase the time window during which response code 500s may be returned during the upgrade process. Once the upgrade to 7.0 has finished, this issue will not recur, as all future versions of Docker will support online upgrades.</p>
        <h3 MadCap:autonum="1.1.3 &#160;">New Group ID Variable</h3>
        <p style="text-align: left;">When upgrading to 7.0, the following new <span class="ElementName">env_metadata_replication_group_id</span> variable must be added to the <span class="ProprietaryFileName">group_vars/all</span> file and set to an identifier string of 1 to 7 characters that is unique for the deployment. </p>
        <p class="Note" style="text-align: left;">Ensure that the same ID is not used for future deployment elsewhere involved in geo-replication. Also note that once the variable is set it should not be changed.</p>
        <h3 MadCap:autonum="1.1.4 &#160;">New IAM Graphical User Interface</h3>
        <p>A web UI component has been added for managing IAM users. To deploy this new component a new token file must be generated in the environment. To generate the token file, run the following command from the 7.0 folder:</p><pre xml:space="preserve">./ansible-playbook -i {{targetEnvironmentDir}}//inventory tooling-playbooks/
     generate-vault-env-config.yml</pre>
        <h3 MadCap:autonum="1.1.5 &#160;">Release 7.x Installer Modifications</h3>
        <p style="text-align: left;">From the 6.x releases, the 7.x installers modify both the database paths and the format of the data stored in the metastore (regarding the database paths, the change made is from <span class="ProprietaryFileName">{{metadata_container_data_path}}/databases/ip/port</span> to <span class="ProprietaryFileName">{{metadata_container_data_path}}/databases/raftID</span>).</p>
        <h3 MadCap:autonum="1.1.6 &#160;"><a name="Release_7.2+_Installer_modifications"></a>Release 7.2+ Installer Modifications</h3>
        <p style="page-break-after: avoid;">Disk layout for database path has changed for the support of the multidisk feature from:</p><pre xml:space="preserve" style="page-break-after: avoid;">{{ metadata_container_path }} /databases/{{ raftID }}/{{ installID }}/{{ dbName }}</pre>
        <p style="page-break-after: avoid;">to:</p><pre><span style="font-size: 7pt;"><span style="font-size: 6pt;">+ --- {{ env_host_data }}
        + --- scality-metadata-bucket
                + --- databases (only there to keep the consistent view of the DBs between host and container)
                        + --- disk1 (bind mount of /scality/s3/disk1/scality-metadata-databases-bucket)
                        + --- disk2 (bind mount of /scality/s3/disk2/scality-metadata-databases-bucket)
                        + --- disk3 (bind mount of /scality/s3/disk3/scality-metadata-databases-bucket)
+ --- disk1
        + --- scality-metadata-databases-bucket
               + --- $RaftSessionID (ex: 0)
                       + --- $InstallID
                               + --- $DB (or any pre-upgrade bucket's DB)
                                       + --- main (where the LevelDB internal metadata files are located)
                                       + --- data (directory holding the actual .ldb files content)
                               + --- storeDbX (where X is part of the range [0-100] ; internal DB which holds a number of buckets)
                                       + --- main (where the LevelDB internal metadata files are located)
                                       + --- data (directory holding the actual .ldb files content)
+ --- disk2
       + --- scality-metadata-databases-bucket
               + --- $RaftSessionID (ex: 0)
                       + --- $InstallID
                               + --- $DB (or any pre-upgrade bucket's DB)
                                       + --- main (relative symlink to the first disks's associated "main" directory)
                                       + --- data (directory holding the actual .ldb files content)
                               + --- storeDbX (where X is part of the range [0-100] ; internal DB which holds a number of buckets)
                                       + --- main (relative symlink to the first disks's associated "main" directory)
                                       + --- data (directory holding the actual .ldb files content)
+ --- disk3
        + --- scality-metadata-databases-bucket
                + --- $RaftSessionID (ex: 0)
                        + --- $InstallID
                                + --- $DB (or any pre-upgrade bucket's DB)
                                        + --- main (relative symlink to the first disks's associated "main" directory)
                                        + --- data (directory holding the actual .ldb files content)
                               + --- storeDbX (where X is part of the range [0-100] ; internal DB which holds a number of buckets)
                                       + --- main (relative symlink to the first disks's associated "main" directory)
                                       + --- data (directory holding the actual .ldb files content)</span><![CDATA[
]]></span></pre>
        <p>The new layout uses bind-mounts between the various mountpoints provided in the <span class="ProprietaryFileName">group_vars/all</span> file to provide a consistent view of the databases inside and outside the container. In this layout, the first disk provided in the list holds a greater role as the holder of the LevelDB small metadata files. (Refer to <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Modifying the Group Variables Template.htm#env_meta">"env_metadata_bucket_datapaths" on page 1.</MadCap:xref></p>
        <h3 class="noTOC" MadCap:autonum="">Existing Location Constraints</h3>
        <p style="text-align: left;">If upgrading to release 7.1 of <MadCap:variable name="S3 Connector Variables.ComponentName" /> with existing buckets that have locations set (such as <span class="Variable">us-east-1</span>), those locations must be listed in the <span class="ElementName">location_constraints</span> section of the <span class="ElementName">group_vars/all</span> file (refer to <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Modifying the Group Variables Template.htm#location_constraints">"location_constraints" on page 1</MadCap:xref>). If this is not done, and a user tries to put an object in one of those buckets (without designating a location at the object level), an error will prevent the PUT object request.</p>
        <p style="text-align: left;">To find out if bucket locations are set up, use the following script (the default bucketd port is 9000):</p><pre xml:space="preserve">./venv/bin/list-location-constraints --bucketd {{ BUCKETD_HOST }}:{{ BUCKETD_PORT }}</pre>
        <p style="text-align: left;">If the script returns nothing, this means that there are no existing locations.</p>
        <p style="text-align: left;">Sample script output:</p><pre xml:space="preserve">paris<br />     notredame<br />us-east-1<br />     libertystatue
		usa<br />     florida</pre>
        <p style="text-align: left;">The left column lists the existing location constraints, and the right column lists the bucket in this location.</p>
        <p style="text-align: left;">To find out if an existing bucket has a location constraint, use the GET Bucket Location API request. Refer to the <span class="PublicationName"><MadCap:variable name="General.Reference Manual"></MadCap:variable>.</span></p>
        <p class="Note" style="text-align: left;">Important: Along with the mandatory "legacy" location that matches the pre-existing sproxyd <i>bootstrap_list</i>, all pre-existing locations listed with the above script must be defined with the same pre-existing <i>bootstrap_list</i>. If not, data will not be retrievable. Refer to <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Modifying the Group Variables Template.htm#location_constraints">"location_constraints" on page 1</MadCap:xref>.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">New Group Name and User Name for Installation</h3>
        <p>In 6.4.x and prior versions, the <span class="Code_Terminal">default_user</span> was not present in the default <span class="ProprietaryFileName">group_vars/all</span> file.</p>
        <p>From 7.1.0 and later this configuration is set by default to scality:scality and is exposed in the <span class="ProprietaryFileName">group_vars/all</span> file.</p>
        <p>When upgrading from a version prior to 7.1.0 ensure that the uid:gid are set to <span class="ProperNameBold">1000:1000</span>.</p>
        <p class="codeparatext">env_user:</p>
        <p class="codeparatext_indent">uid: 1000</p>
        <p class="codeparatext_lastline_indent">gid: 1000</p>
        <h2 MadCap:autonum="1.2 &#160;">Performing an Upgrade from v7.1 to v7.2</h2>
        <p class="Alert">Upgrading to <MadCap:variable name="S3 Connector Variables.ComponentName" /> v7.2 is only possible from v7.2. Users of v6.4.7 or earlier must perform a full reinstallation to make use of v7.2.</p>
        <p>Migration of the v7.1 MetaData backups must occur before the upgrade can be made to v7.2.</p>
        <h3 MadCap:autonum="1.2.1 &#160;">Preparing the Migration</h3>
        <p>Obtain the 7.2 package that includes the backup migration script.</p>
        <p style="page-break-after: avoid;">Backup migration involves three distinct steps, performed in sequence:</p>
        <ol>
            <li>Deactivation of the backup process (to avoid creating new backups)</li>
            <li>Migration of the backups to the new format</li>
            <li>Verification of the backups migration</li>
        </ol>
        <h3 MadCap:autonum="1.2.2 &#160;">Performing the Upgrade</h3>
        <p>Run the backup migration script provided with the version 7.2 package, which will copy the backup to a 7.2 compatible backup. </p>
        <p class="Note">The backup migration procedure is asynchronous and could take several hours, depending on the the size of the backup. </p>
        <p>To upgrade the platform, the backup process must be deactivated, the metadata's backup must be migrated to its new format, and the run.yml playbook must be run to (1) verify the migration and to (2) complete the upgrade process.</p>
        <ol>
            <li>Run the <span class="ProprietaryFileName">metadata-migrate-backup.yml</span> from the
federation directory.</li>
            <li class="paraunder"><pre xml:space="preserve">
./ansible-playbook -i ./env/{{targetEnvironmentDir}}/inventory \ 
tooling-playbooks/metadata-migrate-backup.yml 
</pre>
                <h4>Example: Playbook Output, Output, Three Raft Sessions</h4><pre xml:space="preserve" style="page-break-inside: avoid;">
ok: ["10.200.1.24"] =&gt; {
    "msg": {
        "0": {
            "firstMigrated": 0,
            "lastMigrated": 0,
            "raftSessionId": 0,
            "status": "success"
        }, 
        "1": {  
            "firstMigrated": 1, 
            "lastMigrated": 3, 
            "raftSessionId": 1,
            "status": "success"
        },
        "2": {
            "firstMigrated": 0,
            "lastMigrated": 0,
            "raftSessionId": 2,
            "status": "success"
        }
    }
} 
</pre>
            </li>
            <li>If each raft session returns a status of <span class="ProperNameBold">success</span>, run the  7.2+ installer' s <span class="ProprietaryFileName">run.yml</span> playbook to upgrade the platform to 7.2.
</li>
            <li class="NoteUnder">The pre-check phase of the <span class="ProprietaryFileName">run.yml</span> playbook verifies that the
backups have been successfully migrated, an operation that while somewhat time consuming does not shut down the platform. Once verification is attained, the upgrade continues to completion.</li>
        </ol>
    </body>
</html>