﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="7" MadCap:lastHeight="742" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Preparing the Target Environment</h1>
        <h2 MadCap:autonum="1.1. &#160;">Ansible</h2>
        <p>For the Federation <MadCap:variable name="S3 Connector Variables.ComponentName" /> deployment, Ansible 2.0 must be installed on the deployment server. </p>
        <p>For RHEL/CentOS, the Ansible package is included in the Epel repository, which must be declared. </p>
        <ul>
            <li>On RHEL/CentOS&#160;6:</li>
            <li class="paraunder"><pre xml:space="preserve">rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm</pre>
            </li>
            <li>On RHEL/CentOS&#160;7:</li>
            <li class="paraunder"><pre xml:space="preserve">rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm</pre>
            </li>
        </ul>
        <div MadCap:conditions="PrintGuides.Zenko">
            <p>For Ubuntu, Ansible is available in the Personal Package Archive (PPA). Declare the PPA for the Ansible package as follows:</p><pre xml:space="preserve">sudo add-apt-repository ppa:ansible/ansible<br />sudo apt-get update</pre>
        </div>
        <p MadCap:conditions="PrintGuides.Zenko">Otherwise, the PPA can be manually added to the system by including the lines below in the system's software sources:</p><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko">deb http://ppa.launchpad.net/ansible/ansible/ubuntu trusty maindeb-src http://ppa.launchpad.net/ansible/ansible/ubuntu trusty main</pre>
        <p class="Note" style="text-align: left;" MadCap:conditions="PrintGuides.Zenko">A signing key (<code>4096R/7BB9C367</code>) and a "fingerprint" (<code>6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367</code>) are required for a manual adding of the PPA. <br /></p>
        <h2 MadCap:autonum="1.2. &#160;">Template Files</h2>
        <p>It is best to extract the Federation tar archive file directly to the deployment server, in a directory properly named for the <MadCap:variable name="S3 Connector Variables.ComponentName" /> environment. </p>
        <p>However, if the Federation tar archive file is extracted to a different server, copy the inventory and varibles templates to modify to the deployment server once the tar archive&#160;file has been extracted. First, create a directory under <cite>/env</cite> on the deployment machine, providing it with a name that will represent the deployment environment. Then, copy the templates as follows, replacing {{targetEnvironmentName}} with the name of the directory that you added:</p><pre xml:space="preserve">cp -r env/client-template env/{{targetEnvironmentName}}</pre>
    </body>
</html>