﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="834" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Offline Installation</h1>
        <p style="text-align: left;"><MadCap:variable name="S3 Connector Variables.ComponentName" /> can be deployed in an offline installation without internet connectivity. This is the most common deployment for many customers and data centers where network security is a concern or is controlled. The offline installation and deployment mode uses Ansible and is driven from the Inventory files (described in <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Modifying the Inventory File Template.htm">"Modifying Ansible Inventory Files" on page 1</MadCap:xref>).</p>
        <ol>
            <li>Install Scality RING (5.1.x, 6.x or later) on a minimum of six storage servers (for single site) or a minimum of 12 servers (for 2-site and 3-site stretched configurations). </li>
            <li class="NoteUnder">Stretched configurations require 12 or more servers to function properly with active and warm-standby metadata servers.</li>
            <li style="text-align: left;">Select the machine that will serve as the deployment server (typically the Supervisor machine). Refer to <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Setting Up the Deployment Machine.htm">"Setting Up the Deployment Machine" on page 1</MadCap:xref>.</li>
            <li style="text-align: left;">Select five or more RING storage servers to serve as <MadCap:variable name="S3 Connector Variables.ComponentName" /> deployment targets.</li>
            <li>Download and extract the <MadCap:variable name="S3 Connector Variables.ComponentName" /> tar archive file to a designated directory on the deployment server.</li>
            <li class="paraunder"><pre xml:space="preserve">tar jxvf s3-offline-&lt;version&gt;.tar.bz2</pre>
            </li>
            <li>Go to the directory designated  on the deployment server and run the following command:</li>
            <li class="paraunder"><pre xml:space="preserve">cd s3-offline-&lt;version&gt;/federation </pre>
            </li>
            <li style="text-align: left;"><a href="../2_Deployment_Environment/Modifying the Inventory File Template.htm" title="Modifying the Inventory File Template" alt="Modifying the Inventory File Template">Modify the Inventory File template</a>.</li>
            <li style="text-align: left;"><a href="../2_Deployment_Environment/Modifying the Group Variables Template.htm" title="Modifying the Global Variables template" alt="Modifying the Global Variables template">Modify the Global Variables template</a>.</li>
            <li style="text-align: left;">Configure the S3 Vault environment. (For new deployments) </li>
            <li class="paraunder"><pre xml:space="preserve">./ansible-playbook -i {{targetEnvironmentDir}}//inventory tooling playbooks/generate-vault-        env-config.yml</pre>
            </li>
            <li style="page-break-after: avoid;">Deploy the <MadCap:variable name="S3 Connector Variables.ComponentName" /> instances and associated components. </li>
            <li class="NoteUnder">When using an environment with a different user/group than the one specified on the Supervisor, the <span class="Code_Terminal">run.yml</span> command should include -<span class="Code_Terminal">e ansible_user=$REMOTE_USER</span> where <span class="Code_Terminal">$REMOTE_USER</span> is the name of the user configured in the <span class="Code_Terminal">env_user</span> block settings.</li>
            <li class="paraunder"><pre xml:space="preserve">./ansible-playbook -i {{targetEnvironmentDir}}/inventory run.yml </pre>
            </li>
            <li style="text-align: left;">Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. Refer to the <span class="PublicationName"><MadCap:variable name="General.Operations Guide"></MadCap:variable></span> for details. (For new deployments only, not for upgrade.) </li>
            <li class="paraunder">For accounts, run the following command to generate an access key and the s3cfg file needed for AWS CLI:</li>
            <li class="paraunder"><pre xml:space="preserve">./ansible-playbook -i ./env/{{targetEnvironmentDir}}/inventory  -e 's3cfg_file=/tmp/
     {{s3cfigFileName}} account_name={{accountName}} account_email={{accountEmailAddress}}' 
     tooling-playbooks/generate-account-access-key.yml --become</pre>
            </li>
            <li class="NoteUnder">For information on users, groups, policies, and access keys, refer to <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS Identity and Access Management. </a></li>
            <li class="paraunder">The AWS Command Line Tool is available in the extracted offline archive as:</li>
            <li class="paraunder"><pre xml:space="preserve">s3-offline-&lt;version&gt;/repo/venv/bin/aws</pre>
            </li>
            <li style="text-align: left;">Start sending data to  <MadCap:variable name="S3 Connector Variables.ComponentName" />. Refer to the <span class="PublicationName"><MadCap:variable name="General.Reference Manual" /></span> for details.</li>
        </ol>
    </body>
</html>