﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="7" MadCap:lastHeight="818" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Online Installation</h1>
        <p style="text-align: left;">Online installation of <MadCap:variable name="S3 Connector Variables.ComponentName" /> requires internet connectivity. The online deployment mode can automate the process of pulling Docker containers and all dependent packages directly from Docker hub.</p>
        <MadCap:snippetBlock src="../Resources/Snippets/cut_paste_pdf_constraint.flsnp" />
        <ol>
            <li>Install Scality RING (5.1.x, 6.x or later) on a minimum of six storage servers.</li>
            <li>Select the machine that will serve as the deployment server (typically the Supervisor machine). Refer to <MadCap:xref href="../03_Setting_Up_Deployment_Machine/Setting Up the Deployment Machine.htm">"Setting Up the Deployment Machine" on page 1</MadCap:xref>.</li>
            <li>Install Ansible 2.1 on the deployment server.</li>
            <li>Select five or more RING storage servers to serve as the <MadCap:variable name="S3 Connector Variables.ComponentName" />r deployment targets.</li>
            <li>Download and extract the <MadCap:variable name="S3 Connector Variables.ComponentName" /> tar archive file to a designated directory on the deployment server.</li>
            <li><a href="../2_Deployment_Environment/Modifying the Inventory File Template.htm" title="Modifying the Inventory File Template" alt="Modifying the Inventory File Template">Modify the Inventory File template</a>
            </li>
            <li><a href="../2_Deployment_Environment/Modifying the Group Variables Template.htm" title="Modifying the Global Variables template" alt="Modifying the Global Variables template">Modify the Global Variables template</a>.</li>
            <li style="page-break-after: avoid;">Configure Docker credentials.</li>
            <li class="NoteUnder" style="page-break-inside: avoid;">Online <MadCap:variable name="S3 Connector Variables.ComponentName" /> component installation requires that each server in the  target environment be logged into the Docker Hub. Each customer will need to acquire their own credentials on Docker Hub (hub.docker.com), validated for the private <MadCap:variable name="General.CompanyName" /> repository.</li>
            <li style="page-break-after: avoid;">Prepare the target servers.</li>
            <li class="NoteUnder" style="page-break-inside: avoid;">As root permissions are required to run the ansible-playbook command, add the <span style="font-family: 'Courier New';">--ask-become-pass</span> option (presuming all target machines share the same password) to run the command as sudo. Password-less access can also be configured with .ssh/config and ssh keys.&#160;</li>
            <li class="paraunder">Once set up, the environment inventory can be invoked from Ansible to confirm the presence of all requirements for the <MadCap:variable name="S3 Connector Variables.ComponentName" /> component installs. </li>
            <li class="paraunder"><pre xml:space="preserve">ansible-playbook -i env/{{targetEnvironmentDir}}/inventory 
     install-run-requirements.yml --ask-become-pass</pre>
            </li>
            <li style="page-break-after: avoid;">Configure the S3 Vault environment. (For new deployment only, not for upgrade.) </li>
            <li class="paraunder"><pre xml:space="preserve">ansible-playbook -i .{{targetEnvironmentDir}}//inventory tooling-playbooks/generate-vault-
     env-config.yml</pre>
            </li>
            <li>Deploy the <MadCap:variable name="S3 Connector Variables.ComponentName" /> instances and associated components.</li>
            <li>Deploy the Prebuilt Images. To install <MadCap:variable name="S3 Connector Variables.ComponentName" /> and supporting components, call <code>ansible-playbook</code> with the <code>-i</code> argument set to the <span class="FileName">inventory</span> file and use the <span class="FileName">run.yml</span> data markup file (from the repository or tar archive file root directory) as a terminal argument.</li>
            <li class="paraunder">For example,  to install the <MadCap:variable name="S3 Connector Variables.ComponentName" />s and components to the environment named <cite>{{targetEnvironmentDir}}</cite>, enter the following command:</li>
            <li class="paraunder"><pre xml:space="preserve">ansible-playbook -i env/{{targetEnvironmentDir}}/inventory run.yml</pre>
            </li>
            <li>Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. Refer to the<span class="PublicationName"> <MadCap:variable name="General.Operations Guide"></MadCap:variable></span> for details. (For new deployment only, not for upgrade.) </li>
            <li class="paraunder">For accounts run this command to generate an access key and the s3cfg file needed for AWS CLI:</li>
            <li class="paraunder"><pre xml:space="preserve">ansible-playbook -i ./env/{{targetEnvironmentDir}}/inventory  -e 's3cfg_file=/tmp/
     {{s3cfgFileName}} account_name={{accountName}} account_email={{accountEmailAddress}}' 
     tooling-playbooks/generate-account-access-key.yml --become</pre>
            </li>
            <li class="paraunder">For information on users, groups, policies, and access keys refer to <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS Identity and Access Management.</a></li>
            <li class="paraunder" style="page-break-after: avoid;">The AWS Command Line Tool is available in the extracted offline archive as:</li>
            <li class="paraunder"><pre xml:space="preserve">s3-offline-&lt;version&gt;/repo/venv/bin/aws</pre>
            </li>
            <li class="NoteUnder" style="page-break-inside: avoid;">
                <div style="page-break-inside: avoid;">Refer to the <span class="PublicationName"><MadCap:variable name="General.Operations Guide" /></span>  for information on:<ul><li>Configuring Identity Access Management (IAM) to add Accounts, Users, and Generate Access Keys</li><li>Configuring S3 Client Applications to communicate with Scality <MadCap:variable name="S3 Connector Variables.ComponentName" /></li><li>Setting up Nagios checks and monitoring</li></ul></div>
            </li>
            <li>Start sending data to the <MadCap:variable name="S3 Connector Variables.ComponentName" />. Refer to the<span class="PublicationName"> <MadCap:variable name="General.Reference Manual" /></span> for details.</li>
        </ol>
        <h2 MadCap:conditions="FutureUse.PrintOnly" MadCap:autonum="1.1. &#160;">Redeploying Selected Components</h2>
        <p style="page-break-after: avoid;text-align: left;" MadCap:conditions="FutureUse.PrintOnly">To redeploy selected components, separate tags are available for the <MadCap:variable name="S3 Connector Variables.ComponentName" />s, S3 Metadata and S3 Vault components. </p>
        <p style="text-align: left;" MadCap:conditions="FutureUse.PrintOnly">The following command can be used to redeploy only the S3 Metadata and S3 Vault containers to <span class="Code_Terminal">{{targetEnvironmentName}}</span>:</p><pre MadCap:conditions="FutureUse.PrintOnly" xml:space="preserve">ansible-playbook -i env/{{targetEnvironmentName}}/inventory --tags metadata,vault run.yml</pre>
        <h3 class="noTOC" MadCap:autonum="1.1.1 &#160;">Verifying the Installation</h3>
        <p style="text-align: left;">Upon successful completion of the ansible-playbook command that uses the run.yml data markup file, run the docker <span class="Code_Terminal">ps</span> command via ansible.</p><pre xml:space="preserve">ansible -i <cite>env/{{targetEnvironmentDir}}</cite>/inventory all -m shell -a "docker ps"</pre>
        <p style="text-align: center;">
            <img src="../Resources/Images/VerifyingInstallation - ansible docker ps command.png" style="width: 598px;height: 113px;" />
        </p>
        <p class="Note" style="text-align: left;">If UTAPI (Service Utilization API) and/or Vault SAML support are enabled, additional redis container images – redis-server and redis-sentinel – will display.</p>
        <p style="text-align: left;">Verify that the images are available to the Docker service on the target servers.</p><pre xml:space="preserve">ansible -i <cite>env/{{targetEnvironmentDir}}</cite>/inventory all -m shell -a "docker images"</pre>
        <p style="text-align: center;">
            <img src="../Resources/Images/VerifyingInstallation - ansible docker images command.png" style="width: 599px;height: 126px;" />
        </p>
    </body>
</html>